<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Goose-parser</title>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
</head>
<body class="body">

<article class="goose">
    <header class="header">

        <section class="header__box">
            <div class="header__logo"></div>
            <a href="#" class="header__link">feed me</a>
        </section>


        <h1 class="header__title">
            Hi! I'm Goose, a web developer and just a guy who loves pretty birds
        </h1>

    </header>

    <main class="main">

        <section class="video">
            <div class="video__entity">
                <iframe width="770" height="433" src="https://www.youtube.com/embed/rHyRThoBV7E?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <section class="main__section main__section_theme_buttons">
            <h2 class="main__title">Try Goose-parser right now!</h2>
            <div class="main__link-box">
                <a href="#" class="main__link main__link_type_download">Goose download</a>
                <a href="#" class="main__link main__link_type_github">Goose on GitHub</a>
            </div>
        </section>
        <section class="main__section main__section_theme_boon">
            <h2 class="main__title main__title_type_boon">Who is mr. Goose?</h2>

            <ul class="boon">
                <li class="boon__item boon__item_count_first">
                    <h3 class="boon__title">Goose will parse Internet for you</h3>
                    <p class="boon__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </li>
                <li class="boon__item boon__item_count_second">
                    <h3 class="boon__title">Goose knows how to do it simple</h3>
                    <p class="boon__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </li>
                <li class="boon__item boon__item_count_third">
                    <h3 class="boon__title">Goose habits on <a href="https://github.com/redco/goose-parser" class="boon__link" alt="Goose on GitHub" target="_blank">GitHub</a></h3>
                    <p class="boon__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                </li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <h2 class="form__title">Subscribe to be informed</h2>
        <form class="form">
            <input type="email" class="form__input">
            <button class="form__button">Ga-ga-ga</button>
        </form>
        <div class="footer__decoration">
            <span class="footer__grass"></span>
                <span class="footer__goose footer__goose_first">
                    <span class="footer__message">
                        The message was sent. Or not, ga-ga.
                    </span>
                </span>
            <span class="footer__goose footer__goose_second"></span>
        </div>
    </footer>
</article>

</body>
</html>